<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.ADMMNG.dao.ComnADMMNGDao">

	<!-- 강의 목록 조회 -->
	<select id="listAdminLectureInfo" resultType="kr.happyjob.study.ADMMNG.model.AdminLectureInfo">
		/*kr.happyjob.study.ADMMNG.dao.ComnADMMNGDao.listAdminLectureInfo*/
		SELECT		
				ta.lec_no as lec_no 
			,	ta.lec_name as lec_name
			,	ta.room_no as room_no
			,	tb.room_name as room_name
			,	ta.teach_no as teach_no
			,	tc.name as name
			, 	ta.lec_cnt as lec_cnt
			,	ta.lec_start as lec_start
			,	ta.lec_end as lec_end
			,	ta.lec_goal as lec_goal
			,	ta.lec_plan as lec_plan
			,	ta.lec_file as lec_file
			,	ta.lec_lp as lec_lp
			,	ta.lec_pp as lec_pp
			,	ta.lec_filesize as lec_filesize
			,	ta.test_no as test_no
		FROM	tb_lec ta
				,	tb_room tb
				,	tb_userinfo tc
			<where>
				ta.room_no=tb.room_no
				and ta.teach_no = tc.teach_no
			<if test="(sname != null) and (!sname.equals(''))">
				<choose>
					<when
						test="oname eq 'lec_no'.toString()">
						and lec_no Like CONCAT('%', #{sname}, '%')
					</when>
					<when
						test="oname eq 'lec_name'.toString()">
						and lec_name LIKE CONCAT('%', #{sname}, '%')
					</when>
					<when
						test="oname eq 'teach_no'.toString()">
						and teach_no Like CONCAT('%', #{sname}, '%')
					</when>
					<when
						test="oname eq 'name'.toString()">
						and name Like CONCAT('%', #{sname}, '%')
					</when>
					<otherwise>
						AND 1=2
					</otherwise>
				</choose>
			</if>
		</where>
		
		ORDER BY lec_no DESC
		LIMIT #{pageIndex}, #{pageSize}
		
	</select>

	<!-- 강의 목록 총 갯수 조회 -->
	<select id="countListAdminLectureInfo" resultType="int">
		/*kr.happyjob.study.ADMMNG.dao.ComnADMMNGDao.countListAdminLectureInfo*/
		SELECT COUNT(1) AS tot_cnt FROM tb_lec
			<where>
			<if test="(sname != null) and (!sname.equals(''))">
				<choose>
					<when
						test="oname eq 'lec_no'.toString()">
						and lec_no Like CONCAT('%', #{sname}, '%')
					</when>
					<when
						test="oname eq 'lec_name'.toString()">
						and lec_name LIKE CONCAT('%', #{sname}, '%')
					</when>
					<when
						test="oname eq 'teach_no'.toString()">
						and teach_no Like CONCAT('%', #{sname}, '%')
					</when>
					<otherwise>
						AND 1=2
					</otherwise>
				</choose>
			</if>
		</where>
		
	</select>
	
	<!-- 강의 단건 조회 -->
	<select id="selectAdminLectureInfo" resultType="kr.happyjob.study.ADMMNG.model.AdminLectureInfo">
		/*kr.happyjob.study.ADMMNG.dao.ComnADMMNGDao.selectAdminLectureInfo*/
		SELECT		
				ta.lec_no as lec_no 
			,	ta.lec_name as lec_name
			,	ta.room_no as room_no
			,	tb.room_name as room_name
			,	ta.teach_no as teach_no
			,	tc.name as name
			, 	ta.lec_cnt as lec_cnt
			,	ta.lec_start as lec_start
			,	ta.lec_end as lec_end
			,	ta.lec_goal as lec_goal
			,	ta.lec_plan as lec_plan
			,	ta.lec_file as lec_file
			,	ta.lec_lp as lec_lp
			,	ta.lec_pp as lec_pp
			,	ta.lec_filesize as lec_filesize
			,	ta.test_no as test_no
		FROM	tb_lec ta
				,	tb_room tb
				,	tb_userinfo tc
			WHERE
				ta.lec_no=#{lec_no}
				and ta.room_no=tb.room_no
				and ta.teach_no = tc.teach_no
	</select>
	
	<!-- 강의 저장 -->
	<insert id="insertAdminLectureInfo">
		/*kr.happyjob.study.ADMMNG.dao.ComnADMMNGDao.insertAdminLectureInfo*/
		INSERT INTO tb_lec
		(
			lec_no 
			,	lec_name
			,	room_no
			,	teach_no
			, 	lec_cnt
			,	lec_start
			,	lec_end
			,	lec_goal
			,	lec_plan
			,	test_no
		)
		VALUES
		(
				#{lec_no}
			,	#{lec_name}
			,	#{room_no}
			,	#{teach_no}
			, 	#{lec_cnt}
			,	#{lec_start}
			,	#{lec_end}
			,	#{lec_goal}
			,	#{lec_plan}
			,	#{test_no}
		)
	</insert>
	
	<!-- 강의 수정 -->
	<update id="updateAdminLectureInfo">
		/*kr.happyjob.study.ADMMNG.dao.TPRDao.updateAdminLectureInfo*/
		UPDATE tb_lec SET
				lec_name = #{lec_name}
			,	room_no = #{room_no}
			,	teach_no = #{teach_no}
			, 	lec_cnt = #{lec_cnt}
			,	lec_start = #{lec_start}
			,	lec_end = #{lec_end}
			,	lec_goal = #{lec_goal}
			,	lec_plan = #{lec_plan}
			,	test_no = #{test_no}
		WHERE	lec_no = #{lec_no}
	</update>
	
	<!-- 강의 삭제 -->
	<delete id="deleteAdminLectureInfo">
		/*kr.happyjob.study.ADMMNG.dao.TPRDao.deleteAdminLectureInfo*/
		DELETE FROM tb_lec 
		WHERE	lec_no = #{lec_no}
	</delete>				
	
</mapper>